body {
    padding: 0px;
    margin: 0px;
    display: grid;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    height: 48px;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
}
#nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
#nav-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu-btn {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    width: 16px;
    height: 16px;
}

.btn-cell {
    background-color: grey;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#profile-pic {
    border-radius: 50%;
    height: 32px;
    width: 32px; 
    align-self: flex-end;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 94px;
    background-color: #F2F2F2;
}
