body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;  
    
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p, a {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 15px;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
}
nav {
    display: flex;
    height: 48px;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
}
nav a {
    color: black;
    font-size: 13px;
}
#nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#nav-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#menu-btn {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    width: 16px;
    height: 16px;
    margin: 10px 10px 10px 40px;
}
#menu-btn:hover {
    background-color: grey;
}
.btn-cell {
    background-color: rgb(107, 107, 107);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 1px;
}
#profile-pic {
    border-radius: 50%;
    height: 32px;
    width: 32px; 
    align-self: flex-end;
    margin: 0 15px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 250px; 
}
#main-logo {
    height: 92px;
    width: 272px;
}
#search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#search-buttons {
    padding: 18px;
}
input {
    border-radius: 24px;
    border: 1px solid #cacaca;
    width: 582px;
    height: 44px;
}
input:hover {
    box-shadow: 1px 2px 5px 1px rgb(226, 226, 226);
}
button {
    margin: 11px 4px;
    height: 34px;
    border: none #F2F2F2; 
    padding-left: 20px;
    padding-right: 20px; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 94px;
    background-color: #F2F2F2;
}
hr {
    background-color: blue;
}
.bottom-text {
    display: flex;
    justify-content: space-between;
    
}
.left-footer {
    align-content: flex-start;
}
.right-footer{
 align-content: flex-end;
 margin-right: 15px;
}
footer a, footer p {
    color: rgb(99, 99, 99);
}