body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    
}
a {
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
p, a {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    
}
header {
    width: 100%;
    position: absolute;
    top: 0;
}
nav {
    
    display: flex;
    height: 48px;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
}
#nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
#nav-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu-btn {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    width: 16px;
    height: 16px;
}

.btn-cell {
    background-color: grey;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#profile-pic {
    border-radius: 50%;
    height: 32px;
    width: 32px; 
    align-self: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
#main-logo {
    height: 92px;
    width: 272px;
}
#search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#search-buttons {
    padding: 18px;
}

input {
    border-radius: 24px;
    border: 1px solid #cacaca;
    width: 582px;
    height: 44px;
}

input:hover {
    box-shadow: 1px 2px 5px 1px rgb(226, 226, 226);
}

}

button {
    margin: 11px 4px;
    height: 34px;
    border: none #F2F2F2;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 94px;
    background-color: #F2F2F2;
}

footer a, footer p {
    color: rgb(99, 99, 99);
}
